/* Reset */
body, h1, h2, h3, h4, li, ol, p, pre, section, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, serif;
  background: #e8e8e8;
  color: #333;
  background-image: url('body-bg.png');
  background-repeat: repeat;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

html {
  height: 100%;
  overflow: hidden;
}

h2 {
  font: 400 24px/38px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
}

h3 {
  font: 600 15px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: #999;
}

h4 {
  font: 600 11px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: #999;
  text-transform: uppercase;
}

.member-block-title {
  display: inline-block;
  width: 100%;
}

.references h4 {
  font: 600 14px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: #999;
  text-transform: none;
}

p {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 6px 0;
}

h3 + p {
  /* Text immediately following a subheader should be snug with it. */
  margin-top: 0;
}

strong {
  font-weight: 700;
}

pre, code {
  font: 14px/22px Menlo, Monaco, Consolas, Courier, monospace;
  color: hsl(220, 20%, 30%);
  background: hsl(220, 20%, 95%);
  margin: 22px 0;
  padding: 0 4px;
  border-radius: 4px;
  overflow-x:auto;
  overflow-y:hidden;
}

a {
  color: #15c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #15c;
}

li {
  font-size: 16px;
  line-height: 22px;
}

ol, ul {
  padding-left: 22px;
}

hr {
  border: none;
  height: 1px;
  background: #ccc;
  margin: 22px 0 21px 0;
}

hr + h2 {
  margin-top: 21px; /* To compensate for the thickness of the hr. */
}

.page {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  max-width: 1024px;
  height: 100%;
  overflow: hidden;
  background: #fff;
  margin: 0 auto 0px auto;

  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  box-shadow: 0 0 50px #888;

  background-image: url('content-bg.png');
  background-repeat: repeat-y;

  position: relative;
}

.header {
  background: #333;
  background-image: url('header-bg.png');
  height: 44px;
  font: 400 15px/44px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
}

.header-location {
 color: hsl(0, 0%, 50%);
}

.header .logo {
  background-image: url('dart-logo-small.png');
  width: 66px;
  height: 44px;
  float: left;
}

.header-location a {
  color: hsl(0, 0%, 80%);
}

.header-location a:hover {
  color: hsl(0, 0%, 100%);
}

#search-box {
  display: inline;
  float: right;
  margin-right: 11px;
}

.search-input, .drop-down {
  font: 400 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  width: 300px;
}

.drop-down {
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 36px;
  border: 1px #CCC solid;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 4px;
}

.drop-down-table {
  width: 100%;
}

.drop-down-link-tr {
  padding: 4px 0px;
  cursor: pointer;
}
.drop-down-link-td {
  border-bottom: 1px solid #EEE;
}

.drop-down-link-tr:hover {
  background: #EEE;
  color: #333;
}

.drop-down-link-select {
  background: #15C;
  color: white;
}

.drop-down-link-select:hover {
  background: #2AF;
  color: white;
}

.drop-down-link-kind, .drop-down-link-library {
  font: 400 10px/10px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
}

.drop-down-link-library {
  text-align: right;
}

.drop-down-link-highlight {
  font-weight:bold;
}

.nav {
  position: absolute;
  top: 44px; /* TODO(jacobr): don't hard code this. */
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 263px; /* 12 x 22px - 1 for border */
  padding: 24px;
  background: #f4f4f4;
  border-right: solid 1px #ccc;
}

.content {
  position: absolute;
  top: 44px; /* TODO(jacobr): don't hard code this. */
  bottom: 0px;
  overflow-y: auto;
  overflow-x: auto;
  left: 308px; /* 14 x 22 */
  padding: 22px 22px;
  right: 0px;
}

.nav h2 {
  font: 400 16px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  margin: 0 -21px;
  padding: 11px 22px;
}

ul.icon {
  margin: 0 0 22px 0;
  padding: 0;
}

ul.icon li {
  font: 600 12px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  list-style-type: none;
  white-space: nowrap;
}

/* Indent nested lists. */
ul.icon ul {
  margin-left: 22px;
}

.icon-class,
.icon-exception,
.icon-interface {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 5px 10px 0 2px;
  vertical-align: top;
}

.icon-class     { background: url('class.png');     }
.icon-exception { background: url('exception.png'); }
.icon-interface { background: url('interface.png'); }

.tree-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.tree-list li {
  line-height: 26px;
  font: 600 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  padding-left: 24px;
  background-position: 0px 5px;
}

.kind {
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 24px;
  background-size: 16px 16px;
}

.kind-library {
  background-image: url(package_obj.gif);
}

.kind-class {
  background-image: url(class_public.png);
}

.kind-typedef {
  background-image: url(functiontype_public.png);
}

.kind-typedef.private {
  background-image: url(functiontype_private.png);
}

.kind-class.private {
  background-image: url(class_private.png);
}

.kind-exception {
  background-image: url(exception.png);
}

.kind-method, .kind-operator {
  background-image: url(method_public.png);
}

.kind.getter, .kind.setter, .kind-constructor, .kind.static {
  background-size: 16px 16px, 24px 16px;
}

.kind-method.static, .kind-operator.static {
  background-image: url(method_public.png), url(static.png);
}

.kind-method.private {
background-image: url(method_private.png);
}

.kind-variable {
  background-image: url(field_public.png);
}

.kind-variable.static {
  background-image: url(field_public.png), url(static.png);
}

.kind-variable.private {
  background-image: url(field_private.png);
}

.kind-property.getter {
  background-image: url(method_public.png), url(getter.png);
}

.kind-method.setter {
  background-image: url(method_public.png), url(setter.png);
}

.kind-property.private {
  background-image: url(method_private.png);
}

.kind-constructor {
  background-image: url(method_public.png), url(constructor.png);
}

.kind-constructor.private {
  background-image: url(method_private.png), url(constructor.png);
}

.kind-exception {
  background-image: url(exception.png);
}

.child-subtree {
  background-image: url(inherit.png);
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 16px;
}

/** List items displaying a single member */
li.kind {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** TODO(jacobr) use this arrow maybe for hierarchy... ↳ */

.subclasses-and-references {
  margin-right: 200px;
}

.subclasses-block, .references-block {
  font: 500 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  margin-bottom: 12px;
}

.class-summary {
  font: 500 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  float: right;
  min-width: 150px;
  max-width: 400px;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  padding: 6px 6px 6px 21px;
  margin-left: 15px;
}

.class-summary li {
  padding-left: 0px;
}
.class-summary h4 {
  margin-left: -15px;
}

.type-box {
  display: inline-block;
  font: 600 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  background: #f4f4f4;
  padding: 0 6px 0 3px;
  border-radius: 4px;
}

.type-box .icon-class,
.type-box .icon-exception,
.type-box .icon-interface {
  /* Make a little snugger with the text. */
  margin-right: 5px;
}

.clear {
  clear: both;
}

.footer {
  max-width: 956px; /* 1000 - 22 - 22 */
  text-align: center;
  margin: 22px auto;
  color: #888;
}

.footer p {
  font: 400 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
}

.inherited {
}

.inherited-from {
  font: 400 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  text-align: right;
  opacity: 0.7;
}

.inherited-from, .docs-inherited-from {
  font: 400 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  text-align: right;
  opacity: 0.7;
}

.docs-inherited-from {
  margin-top: -22px;
}

.method .doc,
.field .doc {
  padding-left: 44px;
  /* Ensure there is some space between members with no documentation. */
  margin-bottom: 22px;
}

.param {
  font: 600 14px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
}

.crossref {
  font: 600 13px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
}

.doc h1 {
  font: 700 17px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: #666;
}

.doc h2 {
  font: 600 16px/22px 'Open Sans', 'Lucida Sans Unicode',
      'Lucida Grande', sans-serif;
  color: #666;
}

/* Style external links in docs differently. */
.doc a[href^="http:"]:after,
.doc a[href^="https:"]:after {
  content: url('external-link.png');
}

/* Highlight members on hover so you can see which docs are for which member. */
.method:hover,
.field:hover {
  margin: 0 -22px;
  border: solid 4px hsl(40, 100%, 85%);
  padding: 0 18px;
  border-top: none;
  border-bottom: none;
}

/* Only show the "code" link for the highlighted member. */
.show-code, .show-inherited {
  float: right;
  font: 600 11px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  padding: 0 0 0 6px; /* In case it gets too close to the member. */
  border: none;
  background: transparent;
  margin: 0;
}

.method:hover .show-code,
.field:hover .show-code {
  display: inline;
}

/* Only show permalinks when hovered over. */
.anchor-link {
  display: none;
}

h2:hover > .anchor-link,
h4:hover > .anchor-link {
  display: inline;
}

/* Only show code when expanded. */
pre.source {
  display: none;
}

pre.source.expanded {
  display: block;
}

/* Links that don't cause a page refresh. */
.anchor-link, .anchor-link:visited,
.show-code, .show-code:visited,
.show-inherited, .show-inherited:visited {
  color: hsl(40, 100%, 40%);
  cursor: pointer;
}

.anchor-link, .anchor-link:visited,
.show-code, .show-code:visited {
  display: none;
}

.anchor-link:hover,
.show-code:hover,
.show-inherited:hover {
  color: hsl(40, 100%, 60%);
}

/* Syntax highlighting. */
/* Note: these correspond to the constants in classify.dart. */
pre.source .e { color: hsl(  0, 100%, 70%); } /* Error */
pre.source .c { color: hsl(220,  20%, 65%); } /* Comment */
pre.source .i { color: hsl(220,  20%, 20%); } /* Identifier */
pre.source .k { color: hsl(220, 100%, 50%); } /* Keyword */
pre.source .p { color: hsl(220,  20%, 50%); } /* Punctuation */
pre.source .o { color: hsl(220,  40%, 50%); } /* Operator */
pre.source .s { color: hsl( 40,  90%, 40%); } /* String */
pre.source .n { color: hsl( 30,  70%, 50%); } /* Number */
pre.source .t { color: hsl(180,  40%, 40%); } /* Type Name */
pre.source .r { color: hsl(200, 100%, 50%); } /* Special Identifier */
pre.source .a { color: hsl(220, 100%, 45%); } /* Arrow */

/* Interpolated expressions within strings. */
pre.source .si {
  background: hsl(40, 100%, 90%);
}

pre.source .s.si { background: hsl(40, 80%, 95%); }
pre.source .i.si { color: hsl(40, 30%, 30%); }
pre.source .p.si { color: hsl(40, 60%, 40%); }

.element-details:hover {
  /** XXXX TODO(jacobr): show expand collapse icons. */
}
.element-details:not(.open-details) x-element-signature,
.element-details:not(.open-details) .member-details-summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.element-details.open-details x-element-signature {
  padding-left: 125px;
  text-indent: -125px;
}

x-element-signature {
  display: block;
}
.element-details:not(.open-details) .element-definition {
  margin-left: 99px;
}

.class-element-name {
  margin-left: 0px;
}

.element-details:not(.open-details) .element-class {
  width: 80px;
  display: inline;
  /**
   * TODO(jacobr): it is ugly that we have to force this to absolute
   * positioning and manually position element-details to avoid ugly wrapping.
   */
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.element-class {
  display: inline-block;
  min-width: 80px;
  margin-left: 15px;
  text-align: right;
  white-space: nowrap;
  text-indent: 0px;
}

.element-details {
  background-position: 12px 5px;
  padding-left: 36px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.filters {
    font: 600 12px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: #999;
  float: right;
}

/* TODO(jacobr): move this CSS to details.html */

/* TODO(jacobr): we "should" get display: block for free because x-details
 * inherits from div. */
x-details {
  display: block;
}

.open-details {
  background-color: #F0F0F0;
}

.expanded-details {
  height: 0px;
  overflow: hidden;
}

.open-details .expanded-details {
  height: auto;
}

.open-details .summary-only {
  height: 0px;
}

/* End of details.html css. */

.summary-only {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

*:focus
{
  outline: none;
}

.element-details summary::-webkit-details-marker {
  position: absolute;
  color: #DDD;
  top: 10px;
  left: 0px;
}

.member-details .documentation, .member-details .extended-element-info,
.member-details-summary {
  margin-left: 99px;
}

.member-details-summary {
  white-space: nowrap;
  text-overflow: ellipsis;
}

/** TODO(jacobr): add other tags from the markdown that might be blocks. */
.member-details-summary {
  /**
   * Forcing vertical align to top is critical as otherwise content will
   * jump a few pixels when switching between expanded and regular views.
   */
  vertical-align: top;
}

.member-details-summary div,
.member-details-summary p,
.member-details-summary table {
  display: inline;
}

.documentation {
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 6px 0;
}

.element-class, .class-element-definition, .element-definition {
  line-height: 26px;
  font: 500 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
}

.element-name {
  font-weight: 700;
}

.extended-element-info {
    font: 400 13px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
        sans-serif;
}

.extended-element-info summary::-webkit-details-marker {
  color: #DDD;
  top: 0px;
  left: -20px;
}

.arg:not(:first-of-type)::before{
  content: ', ';
}

.parent-description {
  font: 600 11px/22px 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande',
      sans-serif;
  color: #999;
  float: right;
}

.search-results {
  color: black;
}

.search-results ul {
  padding-left: 0px;
}

.search-result:focus {
  background-color: #F0F0F0;
}
/* Enable these to debug the grid: */

/*
body {
  background: -webkit-linear-gradient(top, #eee 0, #fff 10%, #fff 90%, #eee 100%);
  background-size: 22px 22px;
  background-repeat: repeat;
}

.page {
  background: none;
}

h1 {
  border-left: solid 4px green;
}

h2 {
  border-left: solid 4px blue;
}

h3 {
  border-left: solid 4px red;
}

h4 {
  border-left: solid 4px orange;
}

p {
  border-left: solid 4px purple;
}

section {
  border-left: solid 4px gray;
}
*/
